---
Language: Cpp
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentPPDirectives: AfterHash
PPIndentWidth: 4

# Line length & comments
ColumnLimit: 120
ReflowComments: false
AlignTrailingComments: true
SpacesBeforeTrailingComments: 1

# Braces and spacing
BreakBeforeBraces: Linux
SpaceBeforeParens: ControlStatements
SpaceAfterLogicalNot: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty

# Alignment
PointerAlignment: Left
DerivePointerAlignment: false
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None

# Arguments, includes
BinPackArguments: false
BinPackParameters: false
SortIncludes: false
IncludeBlocks: Preserve
